a {
    color: green;
}
a[href="https://www.link-group.eu/"]
{
    color: red;
}
#some {
    color: darkred;
}
#none {
    color: darkblue;
}
#stile:hover{
    font: italic;
}
#new::after{
    content: " NEW";
    color: yellow;
}
#bogo::after{
    content: " NEW";
    color: yellow;
}
